/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Exercicio1/build/
/Exercicio1/nbproject/private/
/Faculdade/Exercicio1/build/
/Faculdade/Exercicio1/nbproject/private/
/Exercicio2/nbproject/private/
/Exercicio2/build/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/Faculdade/Exercicio1/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/RelogioSwing/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
