/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Exercicio1/build/
/Exercicio1/nbproject/private/
/Faculdade/Exercicio1/build/
/Faculdade/Exercicio1/nbproject/private/
/Exercicio2/nbproject/private/
/Exercicio2/build/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/Faculdade/Exercicio1/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/RelogioSwing/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/Simulado1/nbproject/private/
/Simulado1/build/
/SimuladoExercicio2/nbproject/private/
/SimuladoExercicio2/build/
/SimuladoExercicio4/nbproject/private/
/SimuladoExercicio4/build/
/SimuladoExercicio3/nbproject/private/
/SimuladoExercicio3/build/
/Exercicio3/nbproject/private/
/Exercicio3/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
